---
import LayoutCommon from '../../app/LayoutCommon.astro';
import FormForgotPassword from '../../modules/FormForgotPassword.astro';
---
<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormForgotPassword />
	</div>
</LayoutCommon>
