---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormForgotPassword from '@components/FormForgotPassword.astro';
---
<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormForgotPassword />
	</div>
</LayoutCommon>
