---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormForgotPassword from '@components/FormForgotPassword.astro';
// @ts-ignore https://github.com/withastro/language-tools/issues/476
import { url } from '@lib/helpers';

if (Astro.locals.isAuthenticated) {
	return Astro.redirect(url('u'));
}
---

<LayoutCommon>
	<div class="flex min-h-screen align-middle">
		<FormForgotPassword />
	</div>
</LayoutCommon>
