---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormForgotPassword from '@components/FormForgotPassword.astro';
import { url } from '@lib/helpers';

const authenticationHeader = Astro.request.headers.get('authorization');
if (authenticationHeader) {
	return Astro.redirect(url());
}
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormForgotPassword />
	</div>
</LayoutCommon>
