---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormSignIn from '@components/FormSignIn.vue';
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormSignIn client:load />
	</div>
</LayoutCommon>
