---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormSignIn from '@components/FormSignIn.astro';
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormSignIn />
	</div>
</LayoutCommon>

