---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormSignIn from '@components/FormSignIn.vue';
import { url } from '@lib/helpers';

const authenticationHeader = Astro.request.headers.get('authorization');
if (authenticationHeader) {
	return Astro.redirect(url());
}
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormSignIn client:load />
	</div>
</LayoutCommon>
