---
import LayoutCommon from '../../app/LayoutCommon.astro';
import FormSignIn from '../../modules/FormSignIn.astro';
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormSignIn />
	</div>
</LayoutCommon>

