---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormSignUp from '@components/FormSignUp.astro';
import { url } from '@lib/helpers';

if (Astro.locals.isAuthenticated) {
	return Astro.redirect(url('u'));
}
---

<LayoutCommon>
	<div class="flex min-h-screen align-middle">
		<FormSignUp />
	</div>
</LayoutCommon>
