---
import LayoutCommon from '../../app/LayoutCommon.astro';
import FormSignUp from '../../modules/FormSignUp.astro';
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormSignUp />
	</div>
</LayoutCommon>
