---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormResetPassword from '@components/FormResetPassword.astro';
import { url } from '@lib/helpers';

const authenticationHeader = Astro.request.headers.get('authorization');
if (authenticationHeader) {
	return Astro.redirect(url());
}
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormResetPassword />
	</div>
</LayoutCommon>
