---
import LayoutCommon from '@layouts/LayoutCommon.astro';
import FormResetPassword from '@components/FormResetPassword.astro';
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormResetPassword />
	</div>
</LayoutCommon>
