---
import LayoutCommon from '../../app/LayoutCommon.astro';
import FormResetPassword from '../../modules/FormResetPassword.astro';
---

<LayoutCommon>
	<div class="min-h-screen align-middle flex">
		<FormResetPassword />
	</div>
</LayoutCommon>
