---
import { SITE_TITLE } from '@lib/constants';
---

<p class="my-10 text-center text-sm text-gray-500">
	&copy; {new Date().getFullYear()} —
	<a href="/" class="hover:underline" target="_blank">{SITE_TITLE}</a>. All rights reserved.
</p>
