---
import { asset } from '@lib/helpers';
import { SITE_TITLE_SHORT } from '@lib/constants';
---

<div
	class="pt:mt-0 mx-auto flex w-full flex-col items-center justify-center px-6 pt-8 dark:bg-gray-900"
>
	<a
		href="#"
		class="mb-8 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-10"
	>
		<img src={asset('images/logo.svg')} alt="Logo" class="mr-4 h-11" />
		<span>{SITE_TITLE_SHORT}</span>
	</a>
	<!-- Card -->
	<div class="w-full rounded-lg bg-white shadow dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0">
		<div class="w-full p-6 sm:p-8">
			<h2 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Forgot your password?</h2>
			<p class="text-base font-normal text-gray-500 dark:text-gray-400">
				Don't fret! Just type in your email and we will send you a code to reset your password!
			</p>
			<form class="mt-8 space-y-6" action="#">
				<div>
					<label for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
						>Your email</label
					>
					<input
						type="email"
						name="email"
						id="email"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
						placeholder="name@company.com"
						required
					/>
				</div>
				<div class="flex items-start">
					<div class="flex h-5 items-center">
						<input
							id="remember"
							aria-describedby="remember"
							name="remember"
							type="checkbox"
							class="focus:ring-3 h-4 w-4 rounded border-gray-300 bg-gray-50 focus:ring-primary-300 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600"
							required
						/>
					</div>
					<div class="ml-3 text-sm">
						<label for="remember" class="font-medium text-gray-900 dark:text-white"
							>I accept the <a
								href="#"
								class="text-primary-700 hover:underline dark:text-primary-500"
								>Terms and Conditions</a
							></label
						>
					</div>
				</div>
				<button
					type="submit"
					class="w-full rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto"
					>Reset password</button
				>
			</form>
		</div>
	</div>
</div>
